<div class="container">
    <div class="container-item">
        <h3>Count Operator Usage</h3>
        <p>{{ totalEven }}</p>
    </div>

    <div class="container-item">
        <h3>Max Operator Usage</h3>
        <p>{{ max }}</p>
    </div>

    <div class="container-item">
        <h3>Min Operator Usage</h3>
        <p>{{ min }}</p>
    </div>

    <div class="container-item">
        <h3>Reduce Operator Usage</h3>
        <p>{{ reduce }}</p>
        <p>{{ accArray }}</p>
        <p>{{ valueArray }}</p>
    </div>

</div>