<div class="container">
    <div class="container-item">
        <h3>mergeMap Operator Usage</h3>
        <p>{{ mergeMapRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>mergeMapTo Operator Usage</h3>
        <p>{{ mergeMapToRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>concatMap Operator Usage</h3>
        <p>{{ concatMapRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>concatMapTo Operator Usage</h3>
        <p>{{ concatMapToRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>switchMap Operator Usage</h3>
        <p>{{ switchMapRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>switchMapTo Operator Usage</h3>
        <p>{{ switchMapToRes | json }}</p>
    </div>

    <div class="container-item">
        <h3>exhaustMap Operator Usage</h3>
        <p>{{ exhaustMapRes | json }}</p>
    </div>

    
</div>