<div class="container">
    <div class="container-item">
        <h3>isEmpty Operator Usage</h3>
        <p>{{ isEmpty }}</p>
    </div>

    <div class="container-item">
        <h3>findIndex Operator Usage</h3>
        <p>{{ findIndex }}</p>
    </div>

    <div class="container-item">
        <h3>find Operator Usage</h3>
        <p>{{ find }}</p>
    </div>

    <div class="container-item">
        <h3>every Operator Usage</h3>
        <p>{{ every }}</p>
    </div>

    <div class="container-item">
        <h3>defaultIfEmpty Operator Usage</h3>
        <p>{{ defaultIfEmpty }}</p>
    </div>
</div>