<div class="container">
    <div class="container-item">
        <h3>windowWhen Operator Usage</h3>
        <p>{{ windowWhenArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>windowToggle Operator Usage</h3>
        <p>{{ windowToggleArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>windowTime Operator Usage</h3>
        <p>{{ windowTimeArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>windowCount Operator Usage</h3>
        <p>{{ windowCountArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>window Operator Usage</h3>
        <p>{{ windowArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>pairwise Operator Usage</h3>
        <p>{{ pairwiseArray | json }}</p>
    </div>

    <div class="container-item">
        <h3>groupBy Operator Usage</h3>
        <p>{{ groupByArray | json }}</p>
    </div>
    
    <div class="container-item">
        <h3>map Operator Usage</h3>
        <p>{{ mapArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>mapTo Operator Usage</h3>
        <p>{{ mapToArray.join(',') }}</p>
    </div>

</div>