<div class="container">
    <div class="container-item">
        <h3>Distinct Operator Usage</h3>
        <p>{{ distinctArr.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>Distinct Operator with key Usage</h3>
        <p>{{ distinctWithKeyArr | json }}</p>
    </div>

    <div class="container-item">
        <h3>DistinctUntilChanged Operator Usage</h3>
        <p>{{ distinctUntillChangedArr | json }}</p>
    </div>

    <div class="container-item">
        <h3>DistinctUntilChanged with Comparator Operator Usage</h3>
        <p>{{ distinctUntillChangedWithArgsArr | json }}</p>
    </div>

    <div class="container-item">
        <h3>DistinctUntilKeyChanged with key and COmparator Operator Usage</h3>
        <p>{{ distinctUntillKeyChanged | json }}</p>
    </div>

</div>