<a routerLink="/">Home</a>

<a routerLink="/basic">Basics</a>

<a routerLink="/operator">Operator</a>

<a routerLink="/buffer">Buffer</a>

<a routerLink="/take">Take</a>

<a routerLink="/skip">Skip</a>

<a routerLink="/distinct">Distinct</a>

<a routerLink="/filtering">Filtering</a>

<a routerLink="/transform">Transform</a>

<a routerLink="/creation">Creation</a>

<a routerLink="/higher-order">Higher Order</a>

<a routerLink="/subject">Subject</a>

<a routerLink="/cold-hot-observables">Hot/Cold Observable</a>

<a routerLink="/error-handling">Error Handling</a>

<a routerLink="/join-creation">Join Creation</a>

<router-outlet></router-outlet>