<div class="container">
    <div class="container-item">
        <h3>combineLatest Usage</h3>
        <p>{{ combineLatestArray.join('-') }}</p>
    </div>

    <div class="container-item">
        <h3>concat Usage</h3>
        <p>{{ concatArray }}</p>
    </div>

    <div class="container-item">
        <h3>forkJoin Usage</h3>
        <p>{{ forkJoinArray }}</p>
    </div>

    <div class="container-item">
        <h3>merge Usage</h3>
        <p>{{ mergeArray.join(',') }}</p>
    </div>


    <div class="container-item">
        <h3>partition Usage</h3>
        <p>{{ partitionArray1 }}</p>
        <p>{{ partitionArray2 }}</p>
    </div>

    <div class="container-item">
        <h3>race Usage</h3>
        <p>{{ raceArray.join("|") }}</p>
    </div>

    <div class="container-item">
        <h3>zip Usage</h3>
        <p>{{ zipArray.join("|") }}</p>
    </div>


</div>