<div class="container">
    <div class="container-item">
        <h3>generate Operator Usage</h3>
        <p>{{ generateArray }}</p>
    </div>
    
    <div class="container-item">
        <h3>range Operator Usage</h3>
        <p>{{ rangeArray }}</p>
    </div>
    
    <div class="container-item">
        <h3>defer Operator Usage</h3>
        <p>{{ deferArray1 | json}}</p>
        <p>{{ deferArray2 | json}}</p>
    </div>
    
    
    <h3>Visit <a href="https://my-json-server.typicode.com/">https://my-json-server.typicode.com/</a></h3>
    <div class="container-item">
        <h3>ajax normal Operator Usage</h3>
        <p>{{ normalAjaxData | json}}</p>
    </div>

    <div class="container-item">
        <h3>ajax getJSON Operator Usage</h3>
        <p>{{ ajaxgetJSONData | json}}</p>
    </div>

</div>