<div class="container">
    <div class="container-item">
        <h3>Subject Usage</h3>
        <p>{{ subjectData }}</p>
    </div>

    <div class="container-item">
        <h3>Behaviour Subject Usage</h3>
        <p>{{ bsArray.join(",") }}</p>
    </div>

    <div class="container-item">
        <h3>Replay Subject Usage</h3>
        <p>{{ rsArray.join(",") }}</p>
    </div>
    
    <div class="container-item">
        <h3>Async Subject Usage</h3>
        <p>{{ asyncArray.join(",") }}</p>
    </div>

    <div class="container-item">
        <h3>Void Subject Usage</h3>
        <p>{{ voidArray.join(",") }}</p>
    </div>

    <div class="container-item">
        <h3>Publish Behaviour Connectable Usage</h3>
        <p>{{ publishBehaviourArray.join(",") }}</p>
    </div>
    
    <div class="container-item">
        <h3>Publish Last Connectable Usage</h3>
        <p>{{ publishLastArray.join(",") }}</p>
    </div>

    <div class="container-item">
        <h3>Publish Replay Connectable Usage</h3>
        <p>{{ publishReplayArray.join(",") }}</p>
    </div>
</div>