<div class="container">
    <div class="container-item">
        <h3>filter Operator Usage</h3>
        <p>{{ filteredArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>sample Operator Usage</h3>
        <p>{{ sampleArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>audit Operator Usage</h3>
        <p>{{ auditArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>throttle Operator Usage</h3>
        <p>{{ throttleArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>debounce Operator Usage</h3>
        <p>{{ debunceArray.join(',') }}</p>
    </div>

    <div class="container-item">
        <h3>first Operator Usage</h3>
        <p>{{ first }}</p>
    </div>

    <div class="container-item">
        <h3>last Operator Usage</h3>
        <p>{{ last }}</p>
    </div>

</div>