/* You can add global styles to this file, and also import other style files */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-item {
    margin-left: 5px;
    margin-top: 5px;
    border: 2px solid black;
}